@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&family=Raleway:wght@500&display=swap');
.container{
    background-color:  #F9F9FA;
    color: black;
    padding-top: 50px;
   padding-bottom: 5%;
}

.container h1{
    color: #5F687B;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    line-height: 63px;
    text-align: center;
    justify-content: center;
    padding: 15px;
}
.card{
    display: flex;
   justify-content: center;
   gap: 40px;
    flex-wrap: wrap;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    aspect-ratio: 1.5;
    border-radius: 15px;
    box-shadow: 0px 4px 18px 0px #63636354;
    margin: 2%;
   
}
/* .cards img{
   margin-left: 25%;
   
} */
/* .cards p{
   font-family: 'Poppins';
   font-weight: 600;
   font-size: 30px;
   line-height: 40px;
   align-items: center;
   color: #000000;
   
} */

.container .tree{
    width: 80%;
    margin-left: 10%;
}
.module{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
  
}
.modulecard{
    width: 15%;
    aspect-ratio: 1;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    box-shadow:0px 4px 20px 0px #00000040;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* .modulecard p{
    margin-left: 7%;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
} */