@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&family=Raleway:wght@500&display=swap');

.container{
    background-color: #F3F4F6;
    ;
}
.container h1{
    color: #5F687B;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    line-height: 63px;
    text-align: center;
    justify-content: center;
    padding: 15px;
    padding-top: 20px;
}
.input_group{
    text-align: center;
    justify-content: center;
    display: flex;
}
.input_group input{
    background-color: #ffffff;
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #B5B5B578;
    padding-left: 10px;
}
.input_group_append {
    width: 120px;
    height: 40px;
    border-radius: 6px;
    background-color:  #16DF7E;
    font-family: 'Poppins';
    font-size: 400;
    font-size: 15px;
    padding: 10px;
    color: #ffffff;
   
    
}
.container ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px;
}
.container ul li{
    width: 30px;
    height: 30px;
    background-color:  #EAECEF;
    color:  #6B6B6B;
    margin: 10px;
    padding: 5px;
}
.container hr{
    width: 90%;
    margin:0 5% 0 5%;
    border: 1px solid #5F687B;
}
.end{
    display: flex;
    justify-content: space-between;
    margin:2% 5% 0% 5%;
    color:  #636363;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 2%;
}